html {
  background: url(images/bkg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', sans-serif;
}

#main {
  width: 70%;
  background-color:rgba(0, 0, 0, 0.5);
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 2.5em;
}

p {
  font-weight: lighter;
  line-height: 20px;
}

a, a:hover, a:visited, a:active {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

button {
  border: 2px solid #fff;
  border-radius: 24px;
  background: none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}

button:hover, button:focus {
  background: #fff;
  color: #D60068;
  border: 2px solid #FFF;
  cursor: pointer;
}

button:active, button:focus {
    box-shadow: none;
}

button.footer-link {
    float: right;
}
